div{
    margin-left: 20px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat (3, 1fr);
}
footer{
  text-align:center;
  background-color:black;
  color:white;
  border-radius:10px;
  padding:20px;
}
a.a1:link{
  color:black;
}
a.byui:link{
  color:white;
}
.content{
    max-width: 800px;
    margin: 0 auto; 
}
.name{
    font-family:'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
    color:white;
    border-radius:10px;
    text-align:center;
    padding:20px;


}
.img{
    max-width: 25%;
    box-shadow: 5px 5px 5px #ccc;
    float:right;
    margin-top:100px;
    border-radius:10px;

}
.class{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom:1px solid;
}
.navigation{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer01{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.script{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#updated-date{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:pink;
}