div{
    margin-left: 20px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3 , 1fr);
}


.name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
    color:white;
    border-radius:15%;

}
.img{
    max-width: 100%;
}
.class{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.navigation{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
