html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.heading1{
    font-family: "Roboto";
    text-align: center;
}
picture{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
}
.lazy-load img{
    border:solid;
}
.lazy-load img[data-src]{
    filter:blur(0.2em);
}
.lazy-load img{
    filter:blur(0em);
    transition: filter 1s;
}