* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*body rules here*/
h1{
    font-family: 'Spartan', sans-serif;
    font-size:1.5rem;
}
h2{
    font-family: 'Spartan', sans-serif;
    font-size:1.3rem;
}
h3{
    font-family: 'Spartan', sans-serif;
    font-size:1.2rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
/*header rules here*/
header{
    background-color: #fffbfc;
    padding: 1rem 2%;
}
header h1{
    margin:0;
    font-family: 'Spartan', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Spartan', sans-serif;
}
header img{
    float:left;
    width:70px;
    margin-right:1rem;
}

/*navigation rules here*/
nav{
    background-color:#2f4260;
    font-family:'Spartan', sans-serif;
}
nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
nav li{
    list-style-type:none;
}
nav li.active{
    background-color:#30332e;
}
nav a{
    display:block;
    padding: .8rem;
    color:#fffbfc;
    text-align:center;
    text-decoration:none;
}
nav a:hover{
    background-color:#cf5c36;
    border-color:#30332e;
    border-style:solid;
}
/*main rules here*/
main{
    padding:1rem 2%;
    display:block;
    background-color:#2f4260;
    color:#d6c8c2;
}
main h1{
    color:#fffbfc;
}
main figure img{
    width:100%;
}
main figure{
    width:100%;
    margin:0;
}
main figcaption{
    text-align:center;
    font-size:.8rem;
}
table{
    background-color:#cf5c36;
    padding:1rem;
    box-shadow:#ffffff 5px 5px 5px;
    border-radius:2%;
    font-family: "Open Sans", sans-serif;
}
footer{
    text-align:center;
    padding:1rem 2%;
    background-color:#fffbfc;
    color:#2f4260;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}


.clearfix:after{
    content:"";
    display:table;
    clear:both;
}