html{
    font-family:"Ubunto",sans-serif;
}
div{
    display:block;
    justify-content:center;
    align-content:center;
    text-align:center;
}
table{
    border-collapse: collapse;
    background-color: #e7f0ed;
    box-shadow: .5em .5em .5em #628ca6;
    width:280px;
    margin:auto;
    table-layout:auto;
}
th,td{
    border:1px solid grey;
}
table thead tr{
    font-size:1.5em;
    line-height:1.5em;
    background-color:#7fb9c2;
}
table .row2{
    color:white;
    font-size:1em;
    font-weight:bold;
    background-color:#628ca6;
}
table tbody td{
    text-align:center;
    padding:.5em .5em .5em .5em;
}
tbody tr:nth-child(even){
    background-color:#e7ffed;
}
table tfoot{
    background-color:#7fb9c2;
    font-size:.75em;
}