@media only screen and (min-width:1028px){

    header, footer, nav, main{
        max-width:75rem;
        margin:auto;
    }

    /*NAVIGATION SECTION */

    nav ul{
        margin-left: 1rem;
        display:flex;
    }
    nav ul.hide{
        margin-left:1rem;
        display:flex;
    }
    nav li{
        width:auto;
    }
    nav a{
        padding:.5rem 1rem;
    }
    main figure{
        width:31%;
    }

    nav button{
        display:none;
    }
    /*NAVIGATION SECTION END*/

/*HERO SECTION*/
.hero img{
    min-width:960px;
    max-width:100%;
    height:400px;
    object-fit: cover;
}
.hero h2{
    padding-left:100px;
}
/*HERO SECTION END*/

/*FORECAST SECTION*/

div#forecast{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    row-gap: 10px;
    column-gap: 20px;
    align-content: center;
    align-items: center;
    margin:0;
    
}

/*FORECAST SECTION END*/

    } /* END OF MEDIA QUERY*/