@media only screen and (min-width:560px){

    nav li{
        float:left; width:25%;
    }
    main figure{
        float:right;
        width:48%;
        margin-left:2%;
        padding-bottom:.5rem;
    }
    div.news{
        clear:both;
        column-count:2;
        column-rule:1px solid #ddd;
    }

    header img{
        float:right;
        width:25%;
        height:auto;
        margin-right:1rem;
    }

    
    /*NAVIGATION SECTION */

    nav ul{
        margin-left: 1rem;
        display:flex;
    }
    nav ul.hide{
        margin-left:1rem;
        display:flex;
    }
    nav li{
        width:auto;
    }
    nav a{
        padding:.5rem 1rem;
    }
    main figure{
        width:31%;
    }

    nav button{
        display:none;
    }

    /*NAVIGATION SECTION END*/

    .hero img{
        width:100%;
        height:auto;
    }
    .hero h2{
        font-size: 4.0rem;
    }

    /*HERO SECTION END*/

    /*WELCOME SECTION*/


    /*WELCOME SECTION END*/

    /*FORECAST SECTION*/
  
    div#forecast{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        margin-right:8rem;
    }

    /*FORECAST SECTION END*/

    /*LOCAL SECTION*/
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .cards div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height:100%;
        width:auto;
        padding:10px;
    }

    .cards img{
        margin-right:50px;
        object-fit:cover;
        height: 100px;
        width: 200px;
        margin-left: 40px;
    }

    /*LOCAL SECTION END*/

    /*JOIN SECTION*/

    .join{
        padding-top:50px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-height:356px;
        min-height: 356px;
    }

    .join img{
        max-width:100%;
        height:auto;
        display:block;
        grid-column: 1/2;
        grid-row:1/4;
        padding-right:20px;
        padding-left:20px;
    }

    .join h2{
        text-align: left;
        grid-column: 2/4;
        grid-row:1/2;
        border-bottom:solid white;
    }
    .join p{
        padding-bottom:20px;
        grid-column: 2/4;
        grid-row:2/3;
        max-height:154px;
        text-align: left;
    }

    .join input{
        display:block;
        max-width:129px;
        max-height: 39px;
        position:relative;
    }

    /*JOIN SECTION END*/

    /*PRESTON SECTION*/
    .about div{
        background-color: #ededed;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .about h3,p{
        grid-column: 1/2;
        color:#000004;
        padding-left:10px;
    }
    
    .about img{
        grid-column: 2/3;
        padding:20px;
        
    }

    /*PRESTON SECTION END*/

    /*EVENTS SECTION*/

    div#cards2{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    /*EVENTS SECTION END*/

    /*CONTACT SECTION*/

    .contact{
        text-align: left;
        padding-left:20px;
    }

    .contact h2{
        text-align: left;
    }

    /*CONTACT SECTION END*/


    } /* END OF MEDIA QUERY*/