* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*body rules here*/
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.0rem;
    color:#ededed;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.5rem;
    color:#ededed;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.3rem;
    color:#ededed;
}
p{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:#000004;
}


/*header rules here*/
header{
    background-color: #bababa;
    padding: 1rem 2%;
}
header h1{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header img{
    float:left;
    width:70px;
    margin-right:1rem;
}

/*NAVIGATION SECTION*/

nav{
    background-color:#bababa;
    font-family: 'Lato', sans-serif;
    color:#000004;
}

nav ul{
    margin:0;
    padding:0;
    color:#000004;
    list-style-type:none;
    list-style-type: none;
}

nav button{
    display:block;
    margin: 0 auto;
    background-color:transparent;
    border:none;
    border-style:none;
    font-size:1.6rem;
    color:#fffbfc;
    position: absolute;
    left:20px;
    text-decoration: none;
}

nav ul li a{
    display:block;
    color:#fffbfc;
    text-decoration: none;
    text-align:center;
    padding: 0.5rem 0;
}

nav li{
    list-style-type:none;
}

nav li.active{
    border-bottom:solid 2px #f5ab00;
}

nav a{
    display:block;
    padding: .8rem;
    color:white;
    text-align:center;
    text-decoration:none;
}

nav a:hover{
    border-bottom:solid;
    border-color:#ededed;
}

nav ul.hide{
    display: none;
}
/*NAVIGATION SECTION END*/

/*main rules here*/
main{
    padding:1rem 2%;
    display:block;
    background-color:#bababa;
    color:white;
}
main h1{
    color:#fffbfc;
}
main figure img{
    width:100%;
}
main figure{
    width:100%;
    margin:0;
}
main figcaption{
    text-align:center;
    font-size:.8rem;
}
table{
    background-color:#f5ab00;
    padding:1rem;
    box-shadow:#ededed 5px 5px 5px;
    border-radius:2%;
    font-family: 'Lato', sans-serif;
}

/*HERO SECTION*/
.hero{
    position:relative;
}
.hero img{
    max-width:100%;
    height:400px;
    object-fit: cover;

}
.hero h2{
    text-align: center;
    position:absolute;
    top:100px;
    padding-left:50px;
    padding-right:50px;
    
}

/*HERO SECTION END*/

footer{
    text-align:center;
    padding:1rem 2%;
    background-color:#f5ab00;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:16px;
}


.clearfix:after{
    content:"";
    display:table;
    clear:both;
}