* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*BODY RULES*/
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.0rem;
    color:#ededed;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.5rem;
    color:#ededed;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.3rem;
    color:#ededed;
}
p{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:#000004;
}
/*BODY RULES END*/


/*HEADER SECTION*/
header{
    background-color: #bababa;
    padding: 1rem 2%;
}
header h1{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header img{
    float:right;
    width:50%;
    height:auto;
    margin-right:1rem;
}

.logo{
    transition:1s;
}

.logo:hover{
    transform: scale(1.05);
    transition:1s;
}


/*HEADER SECTION END*/

/*NAVIGATION SECTION*/

nav{
    background-color:#bababa;
    font-family: 'Lato', sans-serif;
    color:#000004;
}

nav ul{
    margin:0;
    padding:0;
    color:#000004;
    list-style-type:none;
}

nav button{
    display:block;
    margin: 0 auto;
    background-color:transparent;
    border:none;
    border-style:none;
    font-size:1.6rem;
    color:#fffbfc;
    position: absolute;
    left:20px;
    text-decoration: none;
    outline:none;
    transition: 1s;
}

nav button:hover{
    color:#FFCC55;
    transition: 1s;
}

nav ul li a{
    display:block;
    color:#fffbfc;
    text-decoration: none;
    text-align:center;
    padding: 1rem, 0;
}

nav li{
    list-style-type:none;
}

nav li.active{
    border-bottom:solid 2px #FFCC55;
}

nav a{
    display:block;
    padding: .8rem;
    color:white;
    text-align:center;
    text-decoration:none;
}

nav a:hover{
    border-bottom:solid;
    border-color:#ededed;
}

nav ul.hide{
    display: none;
}
/*NAVIGATION SECTION END*/

/*MAIN SECTION*/
main{
    padding:1rem 2%;
    display:block;
    background-color:#bababa;
    color:white;
}
main h1{
    color:#fffbfc;
}
main figure img{
    width:100%;
}
main figure{
    width:100%;
    margin:0;
}
main figcaption{
    text-align:center;
    font-size:.8rem;
}
table{
    background-color:#FFCC55;
    padding:1rem;
    box-shadow:#ededed 5px 5px 5px;
    border-radius:2%;
    font-family: 'Lato', sans-serif;
}

/*MAIN SECTION END*/


/*HERO SECTION*/

.hero{
    position:relative;
}

.hero img{
    max-width:100%;
    height:400px;
    object-fit: cover;

}

.hero h2{
    text-align: center;
    position:absolute;
    top:100px;
    padding-left:50px;
    padding-right:50px;
    transition: 2s;
    
}

.hero h2:hover{
    color:#FFCC55;
    left:0;
    transition:2s;
}

/*HERO SECTION END*/


/*WELCOME SECTION*/

.welcome{
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}
.welcome h2{
    transition:2s;
    text-align: center;
}

.welcome h2:hover{
    color:#FFCC55;
    transition:2s;
}

/*WELCOME SECTION END*/


/*FORECAST SECTION*/

.forecast{
    padding-top:20px;
    padding-bottom: 20px;
}

.forecast h2{
    transition:2s;
    text-align: center;
}

.forecast h2:hover{
    color:#FFCC55;
    transition: 2s;
}

div#forecast{
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 20px;
    
}

div#forecast img{
    width:75px;
    padding-top:10px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    
}

div#forecast div{
    display:block;
    box-shadow: 0 8px 8px -6px #000004;
    margin-left:0;
    margin-right: 0;
    padding-left:0;
    padding-right:0;
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: #ededed;
    transition: 1s;
}

div#forecast div:hover{
    background-color: #1589FF;
    transition: 1s;

}

div#forecast span{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:#000004;
    display:block;
    padding:1rem;
    font-size:25px;
    font-weight: bold;
}

div#forecast p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding:none;
    font-weight: bold;
    font-size:48px;
    margin-top:0;
    margin-bottom:0;
    transition: 1s;
}

div#forecast p:hover{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding:none;
    font-weight: bold;
    font-size:48px;
    margin-top:0;
    margin-bottom:0;
    transition:1s;
    transform:scale(1.1);
}

.weather-summary{
    display: block;
    color:#000004;
    background-color: #ededed;
    text-align: center;
    padding:20px;
    box-shadow: 0 8px 8px -6px #000004;
    margin-bottom:2rem;
}

.weather-summary h3{
    color:#000004;
}

/*FORECAST SECTION END*/


/*LOCAL SECTION*/

.local{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.local h2{
    transition:2s;
    text-align: center;
}

.local h2:hover{
    color:#FFCC55;
    transition: 2s;
}

.cards h2:hover{
    transition:.5s;
}

.cards{
    display:grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.cards div{
    padding-bottom: 90px;
    box-shadow: 0 8px 8px -6px #000004;
    background-color: #ededed;
    margin:20px;
    margin-left:none;
    margin-right:none;
    transition:1s;
    -webkit-filter: grayscale(100%) sepia(1%);
    
}

.cards div:hover{
    transform:scale(1.1);
    transition:1s;
    -webkit-filter: none;
}

.cards h2{
    color:#000004;
}

.cards p{
    color:#000004;
}

.cards a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    background-color: #FFCC55;
    padding:10px;
    color:#000004;
    border-radius:20px;
    font-weight: bold;
    transition:1s;
    border:1px solid;

}

.cards a:hover{
    text-decoration: none;
    background-color: #F5AB00;
    transition:1s;

}

/*LOCAL SECTION END*/


/*JOIN SECTION*/

.join{
    padding-top:20px;
    padding-bottom:60px;
    background-color:#ededed;
    text-align:center;
}

.join h2{
    transition: 2s;
    text-align: center;
    color:#000004;
}

.join h2:hover{
    transition: 2s;
    color:#FFCC55;
}

.join p{
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
}

.join input{
    background-color:#FFCC55;
    padding:10px 20px 10px 20px;
    border-radius:20px;
    font-family:'Lato', sans-serif;
    border-style:solid;
    border-width:1px;
    color:#000004;
    font-weight:bold;
    transition:1s;
    outline:none;
    
}

.join a{
    text-decoration: none;
}

.join input:hover{
    background-color:#F5AB00;
    transition:1s;
}

.join img{
    display:none;
}

/*FORM*/

form fieldset{
    border:2px solid #1589FF;
    margin:2rem 0;
    padding:2rem;
}

form legend{
    font-family: 'Roboto Condensed', sans-serif;
    color:#ededed;
    font-size:1.5rem;
    margin:0 1rem;
    padding: 0 0.5rem;
}

form fieldset li{
    font-family: 'Lato', sans-serif;
    color:#000004;
}

form fieldset li em{
    color:#1589FF;
    font-weight: bold;
}

form label.first{
    display:block;
    padding:.5rem;
    width:95%;
    max-width:20rem;
    font-family: 'Lato', sans-serif;
    font-size:16px;
}

form label.first input, form label.first select, form label.first textarea{
    display:block;
    width:95%;
    max-width:20rem;
    border:none;
    padding:.75rem;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    background-color: #ededed;
}

form label.first input:required{
    border-left:5px solid #FFCC55;
}

form label.first input:required:valid{
    border-left:5px solid #1589FF;
}

form label.radio{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:#000004;
}

input.submit{
    background-color:#FFCC55;
    padding:10px 30px 10px 30px;
    border-radius:20px;
    font-family:'Lato', sans-serif;
    border-style:solid;
    border-width:1px;
    color:#000004;
    font-weight:bold;
    transition:1s;
    outline:none;
    font-size: 16px;
}

input.submit:hover{
    background-color: #F5AB00;
    transition:1s;
}

/*FORM END*/

/*JOIN SECTION END*/


/*PRESTON SECTION*/
.about {
    -webkit-filter: grayscale(100%) sepia(1%);
    transition: 2s;
}

.about:hover{
    -webkit-filter: none;
    transition: 2s;
}

.about div{
    background-color: #ededed;
    
}

.about h2{
    text-align: center;
}

.about h3{
    color: #000004;
    padding:20px;
}

.about p{
    padding:20px;
}

.about img{
    padding:20px;
    margin-left:20px;
    margin-bottom:20px;
    left:50%;
    box-shadow: 0 8px 8px -6px #000004;

    
}
/*PRESTON SECTION END*/


/*DIRECTORY SECTION*/




/*DIRECTORY SECTION END*/


/*EVENTS SECTION*/

.events{
    padding-top:20px;
    padding-bottom: 20px;
}

.events h2{
    transition:2s;
    text-align: center;
}

.events h2:hover{
    transition: 2s;
    color:#FFCC55;
}

.cards2 h2:hover{
    transition:.5s;
}

.cards2{
    display:grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.cards2 div{
    padding-bottom: 90px;
    box-shadow: 0 8px 8px -6px #000004;
    background-color: #ededed;
    margin-left:0;
    margin-right: 0;
    padding-left:0;
    padding-right:0;
    transition:1s;
    margin-top:20px;
    margin-bottom: 20px;
    padding-bottom:0;
    
}

.cards2 div:hover{
    background-color: #1589FF;
    transition:2s;
}

.cards2 h2{
    color:#000004;
}

.cards2 p{
    color:#000004;
    padding:10px;
    text-align: center;
}

/*EVENTS SECTION END*/


/*CONTACT HOME SECTION*/

.contact{
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contact h2{
    transition: 2s;
    text-align: center;
    color:#000004;
}

.contact h2:hover{
    transition: 2s;
    color:#FFCC55;
}

.contact img:hover{
    opacity: 0.5;
    -webkit-filter: grayscale(100%) sepia(1%);
    transition: 1s;
}

.contact img{
    transition: 1s;

}

/*CONTACT HOME SECTION END*/

/*CONTACT SECTION*/

.preston-heading h2{
    color:#000004;
}

section.board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

section.board div{
    position:relative;
    line-height: 0px;
}

section.board div img{
    grid-row:1/2;
    border-radius: 50%;
    box-shadow: 0 8px 8px -6px #000004;
    
}

section.board div h3{
    grid-row:2/3;
    text-align: center;
}

section.board div p{
    grid-row:2/3;
    text-align: center;
    padding-bottom:20px;
}

#board-heading{
    text-align: center;
    padding:40px;
}

.contact-info{
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contact-info h3{
    color:#000004;
}

#social:hover{
    opacity: 0.5;
    -webkit-filter: grayscale(100%) sepia(1%);
    transition: 1s;
}

/*CONTACT SECTION END*/

/*FOOTER SECTION*/

footer{
    text-align:center;
    padding:1rem 2%;
    background-color:#FFCC55;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:16px;
}

/*FOOTER SECTION END*/

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}