* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*BODY RULES*/
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.0rem;
    color:#ededed;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.5rem;
    color:#ededed;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.3rem;
    color:#ededed;
}
p{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:#000004;
}
/*BODY RULES END*/


/*HEADER SECTION*/
header{
    background-color: #bababa;
    padding: 1rem 2%;
}
header h1{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header img{
    float:left;
    width:70px;
    margin-right:1rem;
}


/*HEADER SECTION END*/

/*NAVIGATION SECTION*/

nav{
    background-color:#bababa;
    font-family: 'Lato', sans-serif;
    color:#000004;
}

nav ul{
    margin:0;
    padding:0;
    color:#000004;
    list-style-type:none;
}

nav button{
    display:block;
    margin: 0 auto;
    background-color:transparent;
    border:none;
    border-style:none;
    font-size:1.6rem;
    color:#fffbfc;
    position: absolute;
    right:20px;
    text-decoration: none;
    outline:none;
    transition: 1s;
}

nav button:hover{
    color:#FFCC55;
    transition: 1s;
}

nav ul li a{
    display:block;
    color:#fffbfc;
    text-decoration: none;
    text-align:center;
    padding: 1rem, 0;
}

nav li{
    list-style-type:none;
}

nav li.active{
    border-bottom:solid 2px #FFCC55;
}

nav a{
    display:block;
    padding: .8rem;
    color:white;
    text-align:center;
    text-decoration:none;
}

nav a:hover{
    border-bottom:solid;
    border-color:#ededed;
}

nav ul.hide{
    display: none;
}
/*NAVIGATION SECTION END*/

/*MAIN SECTION*/
main{
    padding:1rem 2%;
    display:block;
    background-color:#bababa;
    color:white;
}
main h1{
    color:#fffbfc;
}
main figure img{
    width:100%;
}
main figure{
    width:100%;
    margin:0;
}
main figcaption{
    text-align:center;
    font-size:.8rem;
}
table{
    background-color:#FFCC55;
    padding:1rem;
    box-shadow:#ededed 5px 5px 5px;
    border-radius:2%;
    font-family: 'Lato', sans-serif;
}

/*MAIN SECTION END*/


/*HERO SECTION*/

.hero{
    position:relative;
}

.hero img{
    max-width:100%;
    height:400px;
    object-fit: cover;

}

.hero h2{
    text-align: center;
    position:absolute;
    top:100px;
    padding-left:50px;
    padding-right:50px;
    transition: 2s;
    
}

.hero h2:hover{
    color:#FFCC55;
    left:0;
    transition:2s;
}

/*HERO SECTION END*/


/*WELCOME SECTION*/

.welcome{
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}
.welcome h2{
    transition:2s;
    text-align: center;
}

.welcome h2:hover{
    color:#FFCC55;
    transition:2s;
}

/*WELCOME SECTION END*/


/*FORECAST SECTION*/

.forecast{
    padding-top:20px;
    padding-bottom: 20px;
}

.forecast h2{
    transition:2s;
    text-align: center;
}

.forecast h2:hover{
    color:#FFCC55;
    transition: 2s;
}

/*FORECAST SECTION END*/


/*LOCAL SECTION*/

.local{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.local h2{
    transition:2s;
    text-align: center;
}

.local h2:hover{
    color:#FFCC55;
    transition: 2s;
}

/*LOCAL SECTION END*/


/*JOIN SECTION*/

.join{
    padding-top:20px;
    padding-bottom:60px;
    background-color:#ededed;
}

.join h2{
    transition: 2s;
    text-align: center;
    color:#000004;
}

.join h2:hover{
    transition: 2s;
    color:#FFCC55;
}

.join p{
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
}

.join input{
    background-color:#FFCC55;
    padding:10px 20px 10px 20px;
    border-radius:20px;
    font-family:'Lato', sans-serif;
    border-style:solid;
    border-width:1px;
    color:#000004;
    font-weight:bold;
    transition:1s;
    outline:none;
    position:absolute;
    left:40%;
    
}

.join input:hover{
    background-color:#F5AB00;
    transition:1s;
}

.join img{
    display:none;
}

/*JOIN SECTION END*/


/*EVENTS SECTION*/

.events{
    padding-top:20px;
    padding-bottom: 20px;
}

.events h2{
    transition:2s;
    text-align: center;
}

.events h2:hover{
    transition: 2s;
    color:#FFCC55;
}

/*EVENTS SECTION END*/


/*CONTACT SECTION*/

.contact{
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contact h2{
    transition: 2s;
    text-align: center;
    color:#000004;
}

.contact h2:hover{
    transition: 2s;
    color:#FFCC55;
}

.contact img:hover{
    opacity: 0.5;
    -webkit-filter: grayscale(100%) sepia(1%);
    transition: 1s;
}

.contact img{
    transition: 1s;
}

/*CONTACT SECTION END*/

/*FOOTER SECTION*/

footer{
    text-align:center;
    padding:1rem 2%;
    background-color:#FFCC55;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:16px;
}

/*FOOTER SECTION END*/

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}