* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*body rules here*/
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.0rem;
    color:#ededed;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.5rem;
    color:#ededed;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.3rem;
    color:#ededed;
}
p{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:#000004;
}
/*header rules here*/
header{
    background-color: #bababa;
    padding: 1rem 2%;
}
header h1{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
header img{
    float:left;
    width:70px;
    margin-right:1rem;
}

/*navigation rules here*/
nav{
    background-color:#bababa;
    font-family: 'Lato', sans-serif;
    color:#000004;
}
nav ul{
    margin:0;
    padding:0;
    color:#000004;
}
nav li{
    list-style-type:none;
}
nav li.active{
    border-bottom:solid 2px #f5ab00;
}
nav a{
    display:block;
    padding: .8rem;
    color:white;
    text-align:center;
    text-decoration:none;
}
nav a:hover{
    border-bottom:solid;
    border-color:#ededed;
}
/*main rules here*/
main{
    padding:1rem 2%;
    display:block;
    background-color:#bababa;
    color:white;
}
main h1{
    color:#fffbfc;
}
main figure img{
    width:100%;
}
main figure{
    width:100%;
    margin:0;
}
main figcaption{
    text-align:center;
    font-size:.8rem;
}
table{
    background-color:#f5ab00;
    padding:1rem;
    box-shadow:#ededed 5px 5px 5px;
    border-radius:2%;
    font-family: 'Lato', sans-serif;
}
footer{
    text-align:center;
    padding:1rem 2%;
    background-color:#f5ab00;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:16px;
}


.clearfix:after{
    content:"";
    display:table;
    clear:both;
}