* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*body*/
h1{
    font-family: 'Spartan', sans-serif;
    font-size:1.5rem;
}
h2{
    font-family: 'Spartan', sans-serif;
    font-size:1.3rem;
}
h3{
    font-family: 'Spartan', sans-serif;
    font-size:1.2rem;
}
h4{
    font-family: 'Spartan', sans-serif;
    font-size:.8rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
span{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
/*header*/
header{
    background-color: #fffbfc;
    padding: 2rem;
}
header h1{
    margin:0;
    font-family: 'Spartan', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Spartan', sans-serif;
}
header img{
    float:left;
    width:70px;
    margin-right:1rem;
}

/*navigation*/
nav{
    background-color:#30332e;
    font-family:'Spartan', sans-serif;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    list-style-type: none;
}
nav button{
    display:block;
    margin: 0 auto;
    background-color:transparent;
    border:none;
    border-style:none;
    font-size:1.6rem;
    color:#fffbfc;
    position: absolute;
    left:20px;
    
}

main h1{
    padding-top:10px;
    padding-bottom:10px;
}
nav ul li a{
    display:block;
    color:#fffbfc;
    text-decoration: none;
    font-size: 0.9rem;
    font-family:'Spartan', sans-serif;
    text-align:center;
    padding: 0.5rem 0;
}
nav ul li a:hover{
    background-color:#FF6B4B;
    border-color:#30332e;
    border-style:solid;
}
nav ul li.active a{
    background-color:#80817f;
}

nav ul.hide{
    display: none;
}
/*main*/

img{
    max-width:100%;
}
img.hero{
width:100%; 
}
.weather-summary{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
}

article.weather-summary{
    position:absolute;
    top: 300px;
}

.weathersummary{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
    position:absolute;
    top:300px;
}

.weathersummaryhead{
    grid-column:1/3;
}

.temps{
    text-align: left;
    margin: 0;
    border:0;
    padding:0;
}

.numbers{
    text-align: right;
    margin:0;
    border:0;
    padding:0;
}
main{
    padding:1rem;
    display:block;
    background-color:#2f4260;
    color:white;
    margin: 0 auto;
    
}

section.forecast{
    display:none;
}

section.newsarticle{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
}

section.contact{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
}

/*Gallery*/
.gallery-div{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

.gallery-div figure{
    margin:auto;
    padding:1rem;
}

.gallery img{
    max-width: 350px;
    width:100%;
    margin-top:5rem;
    border:5px solid;
    border-color:black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.gallery img:hover{
    opacity:0.5;
}
figcaption{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin:0;
    background-color: #FF6B4B;
    padding:20px;
    text-align: center;
    font-size: 20px;
    border:5px solid black;
}


/*Footer*/

footer{
    text-align:center;
    padding:1rem;
    background-color:#fffbfc;
    color:#2f4260;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}


.clearfix:after{
    content:"";
    display:table;
    clear:both;
}