* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; }

/*BODY*/
h1{
    font-family: 'Spartan', sans-serif;
    font-size:1.5rem;
}
h2{
    font-family: 'Spartan', sans-serif;
    font-size:1.3rem;
}
h3{
    font-family: 'Spartan', sans-serif;
    font-size:1.2rem;
}
h4{
    font-family: 'Spartan', sans-serif;
    font-size:.8rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

span{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
/*BODY END*/


/*PANCAKE SPAN*/
#pancake{
    background-color: #FF6B4B;
    color:black;
    padding:10px;
    display:flex;
    flex-flow:column;
    justify-content: center;
    text-align: center;
    margin:auto;
}
/*PANCAKE END*/


/*HEADER*/
header{
    background-color: #fffbfc;
    padding: 2rem;
}
header h1{
    margin:0;
    font-family: 'Spartan', sans-serif;
}
header h2{
    margin:0;
    font-family: 'Spartan', sans-serif;
}
header img{
    float:left;
    width:70px;
    margin-right:1rem;
}
/*HEADER END*/


/*NAVIGATION*/
nav{
    background-color:#30332e;
    font-family:'Spartan', sans-serif;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    list-style-type: none;
}

nav button{
    display:block;
    margin: 0 auto;
    background-color:transparent;
    border:none;
    border-style:none;
    font-size:1.6rem;
    color:#fffbfc;
    position: absolute;
    left:20px;
}

nav ul li a{
    display:block;
    color:#fffbfc;
    text-decoration: none;
    font-size: 0.9rem;
    font-family:'Spartan', sans-serif;
    text-align:center;
    padding: 0.5rem 0;
}

nav ul li a:hover{
    background-color:#FF6B4B;
    border-color:#30332e;
    border-style:solid;
}

nav ul li.active a{
    background-color:#80817f;
}

nav ul.hide{
    display: none;
}
/*NAVIGATION END*/


/*MAIN*/

main{
    padding:1rem;
    display:block;
    background-color:#3F9EF6;
    color:white;
    margin: 0 auto;
    
}

main h1{
    padding-top:10px;
    padding-bottom:10px;
}

#prestonheading{
    text-align: center;
    padding:2rem;
}
/*MAIN END*/


/*HERO SECTION*/
img{
    max-width:100%;
}
img.hero{
width:100%; 
}

div.hero{
    position:relative;
}

.weather-summary{
    position:relative;
    top:0px;
    padding:2rem;
    padding-bottom:20px;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
}
#place{
    font-family: 'Spartan', sans-serif;
    font-size:1.3rem;
}

/*HERO SECTION END*/


/*FORECAST SECTION*/

/*div#forecast{
    display:grid;
    grid-template-columns: 1fr;
    border-style: solid;
    border-color:white;
}*/
.forecastheading{
    padding:3rem;
}

.forecast section{
    display:grid;
    grid-template-columns: 1fr;
    text-align:center;
    row-gap: 20px;
    
    
}
section.forecast{
    background-color: #30332e;
    margin: 2rem 1rem;
    border:3px solid white;
}
div#forecast{
    border:solid;
    border-color:white;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    display:block;
    margin-bottom: 3rem;
    background-color: #3F9EF6;
}
div#forecast h4{
    background-color: #FF6B4B;
    color:black;
    margin-top:0;
    margin-bottom:0;
    padding: 1rem .5rem;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    font-weight: bold;
}

div#forecast span{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color:white;
    display:block;
    margin-bottom: .8rem;
    padding:1rem;
    background-color: #3F9EF6;
}



.forecast img{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


/*FORECAST SECTION END*/


/*ARTICLE SECTION*/
section.newsarticle{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
}
/*ARTICLE SECTION END*/


/*CONTACT SECTION*/
section.contact{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;
}

div.map{  
    right:200px; 
}
/*CONTACT SECTION END*/


/*FOOTER*/
footer{
    text-align:center;
    padding:1rem;
    background-color:#fffbfc;
    color:#2f4260;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
/*FOOTER END*/


/*GALLERY SECTION*/

#galleryheading{
    text-align: center;
    padding-top:60px;
}
.gallery-div{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

.gallery-div figure{
    margin:auto;
    padding:1rem;
}

.gallery img{
    max-width: 350px;
    width:100%;
    margin-top:5rem;
    border:2px solid;
    border-color:white;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.gallery img:hover{
    opacity:0.5;
}
figcaption{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin:0;
    background-color: #FF6B4B;
    padding:20px;
    text-align: center;
    font-size: 20px;
    border:2px solid white;
}
/*GALLERY SECTION END*/


/*FORM SECTION*/

form fieldset{
    border:2px solid #FF6B4B;
    margin:2rem 0;
    padding:2rem;
}

form legend{
    font-family: 'Spartan', sans-serif;
    font-size:1.5rem;
    font-size:x-large;
    margin:0 1rem;
    padding: 0 0.5rem;
}

form label.first{
    display:block;
    padding:.5rem;
    width:95%;
    max-width:20rem;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

form label.first input, form label.first select, form label.first textarea{
    display:block;
    width:95%;
    max-width:20rem;
    border:none;
    padding:.75rem;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

form label.first input:required{
    border-left:5px solid #ff0000;
}

form label.first input:required:valid{
    border-left:5px solid green;
}

form label.slider{
    display:block;
    margin:2rem 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

form label.slider input{
    display:block;
    max-width:20rem;
    width:95%;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

form label.slider span{
    max-width:20rem;
    width:95%;
}

form label.sbs{
    display:block;
    margin:.35rem;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

form label.sbs input{
    margin:.25rem .75rem 0 0;
}

div.form1{
    margin:0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

form label.radio{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
input.submit{
    max-width: 20rem;
    margin:0 0 2rem 2%;
    color:white;
    border:none;
    padding:.75rem;
    background-color: #FF6B4B;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
/*FORM SECTION END*/


/*INDEX HERO SECTION*/

img.indexhero{
    width:100%; 
    padding-top: 20px;
}

div.indexhero{
    position:relative;
    padding:0px;
    margin:0px;
}
/*INDEX HERO SECTION END*/


/*INDEX CARD SECTION*/

#cards{
    text-align: center;
    
}
#cards img{
    object-fit: contain;
    width:400px;

}

#cards div{
    color:white;
    display:block;
    background-color:#30332e;
    border-style: solid;
    border-color:white;
    margin-top:2rem;
}

#cards div section{
    padding:1rem;
}
#cards div figure{
    padding-top:1rem;
}
/*INDEX CARD SECTION END*/



/*INDEX COVID SECTION*/
section.covidtracker{
    position: relative;
    
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:white;  
}

section.covidtracker img{
    visibility: hidden;
    position:absolute;
    left:2px;
    top:2px;
    width:300px;
    height:100px;
    object-fit: cover;
    padding-right:10px;
}


section.covidtracker h2{
    grid-column:1/2;
    grid-row:1/2;
    top:10px;
    text-align: center;
}

section.covidtracker p{
    grid-column:1/2;
    grid-row:2/3;
    top:40px;
    text-align: center;
}

section.covidtracker form fieldset{
    border:none;
    /*grid-column: 1/2;
    grid-row:3/4;
    display:block;
    align-content: center;
    align-items: center;
    */
    display:block;

}

section.covidtracker form fieldset label input{
    display:block;
    
}
/*INDEX COVID SECTION END*/


/*INDEX WIREFRAME SECTION*/

#wireframesheading{
    text-align: center;
    padding:3rem;
}

a.wireframelink{
    color:white;
    text-decoration: none;
    background-color: #30332e;
    padding:1rem;
}
a.wireframelink:hover{
    background-color: #FF6B4B;
}

/*INDEX WIREFRAME SECTION END*/

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}