@media only screen and (min-width:35rem){

/*header*/
    header img{
        width:75px;
    }
    header h1{
        font-size:2rem;
    }
    header h2{
        font-size:1.5rem;
    }
    
/*main*/

section.forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:#d6c8c2;
}


section.forecast div{
    text-align: center;
    border: solid 1px;
    border-color:#d6c8c2;
    
}
    
section.forecast div h4{
    background-color:#cf5c36;
    margin: 0;
    padding: 1rem 0;
}

section.forecast div.fiveday {
    display:block;
}
    
section.article{
    padding:2rem;
    margin: 2rem 1rem;
    background-color:#30332e;
    border-style:solid;
    border-color:#d6c8c2;
    float:left;
}
 
section.article img{
    float:right;
    width:300px;
    padding: 0 10px 0 0;
}
    

} /* end of media query*/

